services:
  dev-op-connect-api:
    extends:
      service: dev-op-connect-api
      file: ./onepassword-connect.yaml
    volumes:
      - dev-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  dev-op-connect-sync:
    extends:
      service: dev-op-connect-sync
      file: ./onepassword-connect.yaml
    volumes:
      - dev-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  prod-op-connect-api:
    extends:
      service: prod-op-connect-api
      file: ./onepassword-connect.yaml
    volumes:
      - prod-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean
  prod-op-connect-sync:
    extends:
      service: prod-op-connect-sync
      file: ./onepassword-connect.yaml
    volumes:
      - prod-data:/home/opuser/.op/data
    profiles:
      - bootstrap
      - clean

  dev-cloud-config-generator:
    extends:
      service: dev-cloud-config-generator
      file: ./config-generator.yaml
    volumes:
      - ./cloud-init/.generated:/generated
    profiles:
      - dev-generate-cloud-config
      - clean

  prod-cloud-config-generator:
    extends:
      service: prod-cloud-config-generator
      file: ./config-generator.yaml
    volumes:
      - ./cloud-init/.generated:/generated
    profiles:
      - prod-generate-cloud-config
      - clean

  dev-gateway1-image-builder:
    extends:
      service: dev-gateway1-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-gateway1
      - clean
  dev-node1-image-builder:
    extends:
      service: dev-node1-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node1
      - clean
  dev-node2-image-builder:
    extends:
      service: dev-node2-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node2
      - clean
  dev-node3-image-builder:
    extends:
      service: dev-node3-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node3
      - clean
  dev-node4-image-builder:
    extends:
      service: dev-node4-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node4
      - clean
  dev-node5-image-builder:
    extends:
      service: dev-node5-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node5
      - clean
  dev-node6-image-builder:
    extends:
      service: dev-node6-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-node6
      - clean
  dev-external1-image-builder:
    extends:
      service: dev-external1-image-builder
      file: ./image-builder.yaml
    profiles:
      - dev-build-image
      - dev-build-image-external1
      - clean

  prod-gateway1-image-builder:
    extends:
      service: prod-gateway1-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-gateway1
      - clean
  prod-node1-image-builder:
    extends:
      service: prod-node1-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node1
      - clean
  prod-node2-image-builder:
    extends:
      service: prod-node2-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node2
      - clean
  prod-node3-image-builder:
    extends:
      service: prod-node3-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node3
      - clean
  prod-node4-image-builder:
    extends:
      service: prod-node4-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node4
      - clean
  prod-node5-image-builder:
    extends:
      service: prod-node5-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node5
      - clean
  prod-node6-image-builder:
    extends:
      service: prod-node6-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-node6
      - clean
  prod-external1-image-builder:
    extends:
      service: prod-external1-image-builder
      file: ./image-builder.yaml
    profiles:
      - prod-build-image
      - prod-build-image-external1
      - clean

volumes:
  dev-data:
  prod-data:
