services:
  dev-cloud-config-generator:
    build:
      context: ./cloud-init
    environment:
      OP_CONNECT_TOKEN: ${OP_DEV_CONNECT_TOKEN}
      OP_CONNECT_HOST: http://dev-op-connect-api:8080
      SERVER_ENV: dev

  prod-cloud-config-generator:
    build:
      context: ./cloud-init
    environment:
      OP_CONNECT_TOKEN: ${OP_PROD_CONNECT_TOKEN}
      OP_CONNECT_HOST: http://prod-op-connect-api:8080
      SERVER_ENV: prod
